.pastille {
    position: absolute;
    border-radius: 50%; /* Rendre la pastille ronde */
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.8), 0 0 30px rgba(255, 255, 0, 0.6); /* Ombre pour un effet flou et lumineux */
    opacity: 0.7; /* Légèrement transparent */
    transition: opacity 0.5s, transform 0.5s; /* Transition pour les changements d'état */
    filter: blur(4px); /* Effet de flou pour un aspect duveteux */
}
