body {
    margin: 0;
    overflow: hidden;
    background-color: black; /* Fond noir */
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.pastille {
    position: absolute;
    border-radius: 50%;
    transition: transform 0.1s;
    pointer-events: none; /* Pour que la pastille ne bloque pas les clics */
}
